{% extends '_base.html.twig' %}

{% block title %}405 Not Allowed{% endblock %}

{% block header %}
    <header class="component-header">
        <div class="component-header__container container-fluid">
            <div class="component-header__content">
                <h1 class="component-header__title"><a href="/">Drop Party</a></h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <h1>405 Not Allowed</h1>
{% endblock %}
