{% extends '_base.html.twig' %}

{% block header %}
    <header class="component-header">
        <div class="component-header__container container-fluid">
            <div class="component-header__content">
                <h1 class="component-header__title"><a href="/">Drop Party</a></h1>

                <div class="component-header__actions">
                    <a href="/files" class="component-header__link">Files</a>
                    <a href="/account" class="component-header__link">My Account</a>
                    <a href="/sign-out" class="component-header__button">Sign Out</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <h1>My Account</h1>

    <h2 style="margin-bottom: 15px;">Link Dropbox account</h2>

    {% if dropboxLinked %}
        Your Dropbox account is already linked.
    {% else %}
        <a href="/integrations/dropbox" class="button">Install Dropbox Integration</a>
    {% endif %}
{% endblock %}
