@mixin sticky-footer($footer-height, $wrapper-selector, $container-selector, $footer-selector) {
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: - unquote($footer-height);

    #{$container-selector} {
      padding: 0 0 unquote($footer-height) 0;
    }
  }

  #{$footer-selector} {
    height: unquote($footer-height);
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
