body {
  color: $color-text-default;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
  color: $color-text-heading-default;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

p {
  margin-bottom: 15px;
}
