// Colors
$color-white: #fff;
$color-black: #000;
$color-tint-light-gray: #4d5c6f;
$color-body-bg: #fff;
$color-selection-bg: #453465;
$color-text-default: #A5A5A5;
$color-text-heading-default: #4A4A4A;
$color-input-border: #ddd;
$color-input-border-focus: #acb0c4;

// Fonts
$font-default-family: Lato, Helvetica, Arial, sans-serif;
$font-default-size: 1.6em;
$font-default-line-height: 1.8;

// Z-indexes
$z-index-top: 99999;

// Heights
$height-footer: 40px;
