<header class="component-header">
    <div class="component-header__container container-fluid">
        <div class="component-header__content">
            <div class="component-header__items">
                <span class="component-header__items__title">File:</span>
                <span class="component-header__items__value">Screen Shot 2017-11-05 at 16.28.10.jpg</span>

                <span class="component-header__items__title">Content Type:</span>
                <span class="component-header__items__value">image/jpeg</span>

                <span class="component-header__items__title">Size:</span>
                <span class="component-header__items__value">312.42 KB</span>
            </div>
            <div class="component-header__actions">
                <a href="/direct/{{ id }}" class="component-header__button">Direct</a>
                <a href="/download/{{ id }}" class="component-header__button">Download</a>
            </div>
        </div>
    </div>
</header>
